@{  
    
}

<ul>
    <li class="menu-item"><a href="~/private/Home.cshtml">Home</a></li>
    <li class="menu-item"><a href="~/private/usuario/CadastroUsuarios.cshtml">Cadastro de Usuários</a></li>
    <li class="menu-item"><a href="~/private/cliente/CadastroClientes.cshtml">Cadastro de Clientes</a></li>
    <li class="menu-item"><a href="~/private/categoria/CadastroCategorias.cshtml">Cadastro de Categorias</a></li>
    <li class="menu-item"><a href="~/private/livro/CadastroLivros.cshtml">Cadastro de Livros</a></li>
    <li class="menu-item"><a href="~/private/acervo/Acervo.cshtml">Acervo</a></li>
    <li class="menu-item"><a href="~/private/reserva/Reservas.cshtml">Reservas</a></li>
    <li class="menu-item"><a href="~/private/emprestimo/Emprestimos.cshtml">Emprestimos</a></li>
</ul>
